#!/bin/bash -e
#
# Debconf configuration script for the foomatic-bin package
#

. /usr/share/debconf/confmodule

db_version 2.0
db_capb backup
db_title Foomatic Printfilter Configuration

declare -i state=1 backup=0

function parseconfig
{
	eval $(/usr/bin/perl <<'EOF'
	my $configpath = "/etc/foomatic";

	sub readConfFile
	{
		my ($file) = @_;

		my %conf;
		# Read config file if present
		if (open CONF, "< $file")
		{
			while (<CONF>)
			{
				$conf{$1}="$2" if (m/^\s*([^\#\s]\S*)\s*:\s*(.*)\s*$/);
			}
			close CONF;
		}

		return %conf;
	}

	%conf = readConfFile("$configpath/filter.conf");
	print( 'db_set foomatic-bin/filter_debug ',
		   $conf{debug} > 0 ? 'true' : 'false', ";\n") if exists $conf{debug};
	if (exists $conf{textfilter})
	{
		if ($conf{textfilter} =~ m/^(a2ps|enscript|mpage)$/)
		{
			print "db_set foomatic-bin/textfilter $1;\n";
		}
		elsif ($conf{textfilter} =~ m/^\s*$/)
		{
			print "db_set foomatic-bin/textfilter Automagic;\n";
		}
		else
		{
			print "db_set foomatic-bin/textfilter Custom;\n";
			print "db_set foomatic-bin/custom_textfilter $conf{textfilter};\n";
		}
	}
	print( 'db_set foomatic-bin/ps_accounting ',
		   $conf{ps_accounting} ? 'true' : 'false',
		   "\n") if exists $conf{ps_accounting};

EOF)
}

#################
### Main loop ###
#################

while ((state)); do
	case $state in
		1)
			db_input medium foomatic-bin/preserve_manual_changes || true
		;;
		2)
			db_get foomatic-bin/preserve_manual_changes || true
			if ((!backup)); then
				if [ "$RET" = parse ]; then
					parseconfig
					db_clear
				fi
			fi
			db_get foomatic-bin/filter_debug || true
			if [ "$RET" = true ]; then
				db_input critical foomatic-bin/filter_debug || true
			else
				db_input low foomatic-bin/filter_debug || true
			fi
		;;
		3)
			db_input high foomatic-bin/textfilter || true
		;;
		4)
			db_get foomatic-bin/textfilter;
			if [ "$RET" = Custom ]; then
				db_input medium foomatic-bin/custom_textfilter || true
			else
				((backup ? state-- : state++)) || true
				continue
			fi
		;;
		5)
			db_input low foomatic-bin/ps_accounting || true
		;;
		*)
			break;
		;;
	esac
        backup=0
		db_go || backup=1
		((backup ? state-- : state++))
done

db_stop

### Local Variables:
### tab-width: 4
### End:
