#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)


CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

config.status: configure
	dh_testdir
	# Add here commands to configure the package.
ifneq "$(wildcard /usr/share/misc/config.sub)" ""
	cp -f /usr/share/misc/config.sub config.sub
endif
ifneq "$(wildcard /usr/share/misc/config.guess)" ""
	cp -f /usr/share/misc/config.guess config.guess
endif
	CFLAGS="${CFLAGS}" NC=/bin/nc ./configure --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) --prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info


build: build-stamp

build-stamp:  config.status
	dh_testdir

	# Add here commands to compile the package.
	$(MAKE) PERL_INSTALLDIRS=vendor
	#/usr/bin/docbook-to-man debian/foomatic-db-engine.sgml > foomatic-db-engine.1

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Add here commands to clean up after the build process.
	-$(MAKE) distclean
	rm -f config.log config.cache config.sub config.guess foomatic-ppdload

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into
	# debian/foomatic-db-engine.
	#
	# Set NOECHO= to get debugging output from the Perl installation
	$(MAKE) install DESTDIR=$(CURDIR)/debian/foomatic-db-engine PERL_INSTALLDIRS=vendor VENDORPREFIX=/usr PERLPREFIX=/usr
	(cd $(CURDIR)/debian/foomatic-db-engine/usr/share/man/man1; ln -s foomatic-ppdfile.1.gz foomatic-datafile.1.gz)
	rm -rf $(CURDIR)/debian/foomatic-db-engine/usr/lib

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	rm -f debian/foomatic-bin.manpages debian/foomatic-bin.config debian/foomatic-bin.postinst debian/foomatic-bin.templates
	dh_installchangelogs -i ChangeLog
	dh_installdocs -i
	dh_installexamples -i
#	dh_install
	dh_install -i debian/presubj usr/share/bug/foomatic-bin
#	dh_installmenu
	dh_installdebconf -i
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman -i
	dh_link -i
	dh_strip -i
	dh_compress -i
	dh_fixperms -i
	dh_perl -i
#	dh_python
#	dh_makeshlibs
	dh_installdeb -i
	dh_shlibdeps -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	dh_installchangelogs -a ChangeLog
	dh_installdocs -a
	dh_installexamples -a
#	dh_install
	dh_install -a debian/presubj usr/share/bug/foomatic-db-engine
#	dh_installmenu
	dh_installdebconf -a
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman -a
	dh_link -a
	dh_strip -a
	dh_compress -a
	dh_fixperms -a
	dh_perl -a
#	dh_python
#	dh_makeshlibs
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
